@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    justify-content: space-between;
    margin: 40px 30px 0 120px ;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    margin-top: 30px;
}
.logo{
    margin-left: 120px;
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
}
.nevigations{
    display: flex;
}
.nevigations li{
    margin-right: 60px;
    list-style: none;
    
}
.nevigations li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;   
}
.nevigations li a:hover{
    padding: 3px 5px;
    background: rgba(64, 87, 87, 0.171);
    border-radius:5px ;
    scroll-behavior: smooth;
    transition: .5s;
}
.design{
    font-size: 52px;
    font-weight: 700;
    color: #3A3A3A;
}
.banner-left p{
    width: 400px;
    height: 150px;
    font-size: 16px;
    font-weight: 600px;
    color: #3A3A3A;
}
.btn{
    text-decoration: none;
    padding: 14px 20px;
    background: #E02C6D;
    border-radius: 41px;
    color: white;
}
.fa-arrow{
    margin-left: 10px;
}
.influencer {
    display: flex;
     
}
.influencer img{
    width: 450px;
    height: 414px;
    margin-left: 165px;
    background:url(/images/Circle\ design.svg); 
    background-repeat: no-repeat;
}
.btn:hover{
    letter-spacing: 2px;
}
.logos-box{
    width: 1110px;
    margin-left: 100px;
}
.logos-box ul{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    list-style: none;
}
footer{
    height: 30vh;
    text-align: center;
    background: #0A0826;
    padding-top: 3%;
    margin-top: 3%;
}
.footer-part h2{
    color: white;
    font-size: 24px;
}
.footer-part p{
    color: #D9DBE1;   
}
.online-link a{
    font-size: 30px;
    color: white;
    margin: 15px; 
}