@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    justify-content: space-between;
    margin: 40px 30px 0 120px ;
}

/* --------------------
        navbar style 
        --------------------*/
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    margin-top: 30px;
}
.logo{
    margin-left: 120px;
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
}
.nevigations{
    display: flex;
}
.nevigations li{
    margin-right: 60px;
    list-style: none;
    
}
.nevigations li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;   
}
.nevigations li a:hover{
    padding: 3px 5px;
    background: rgba(64, 87, 87, 0.171);
    border-radius:5px ;
    scroll-behavior: smooth;
    transition: .5s;
}

/* -------------------
        influencer design 
        ---------------------------- */
.influencer { 
    display: flex;              
    }
.design{
    font-size: 52px;
    font-weight: 700;
    color: #3A3A3A;
}
.banner-left p{
    width: 400px;
    height: 150px;
    font-size: 16px;
    font-weight: 600px;
    color: #3A3A3A;
}
.btn{
    text-decoration: none;
    padding: 14px 20px;
    background: #E02C6D;
    border-radius: 41px;
    color: white;
}

.influencer img{
    width: 450px;
    height: 414px;
    margin-left: 165px;
    background:url(/images/Circle\ design.svg); 
    background-repeat: no-repeat;
}
.btn:hover{
    letter-spacing: 2px;
}

/* ------------------
       Company logo 
        ---------------------*/
.logos-box{
    width: 1110px;
    margin-left: 100px;
    margin-top: 70px;
}
.logos-box ul{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    list-style: none;
    
}
/*---------------
     Popular Products style
        --------------- */       
.test{
    margin-left: 70px;
    margin-bottom: 100px;
    margin-top: 100px;
}
.popular-collection{
    margin-left: 120px;
    
}
.collection-design{
    text-align: center;
    margin-right: 300px;
    margin-bottom: 30px;
    font-size: 28;
}
.populars{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
.populars img{
    width: 300px;
    height: 300px;
}
.thumpline{
    margin-top: 30px;
}
.tripod{
    font-size: 14px;
    margin-top: 15px;
    margin-left: 15px;
}
.filled{
    color: #FB8200;
}
.tripod p{
    color: #787885;
}
.see{
    display: flex;
    justify-content: center;
    text-decoration: none;    
}
.see a{
    text-decoration: none;
    color: #E02C6D;
}

/* -----------------
    upcoming Products
        ------------------- */
.featured-product{
    display: flex;
}
.products{
    width: 600px;
    margin-left: 100px;
    margin-top: 50px;
}

.product-image img{
    width: 300px;
    border-radius: 5px;
}

/*---------
     footer part  
     -----------------*/
footer{
    height: 30vh;
    text-align: center;
    background: #0A0826;
    padding-top: 3%;
    margin-top: 3%;
}
.footer-part h2{
    color: white;
    font-size: 24px;
}
.footer-part p{
    color: #D9DBE1;   
}
.online-link a{
    font-size: 30px;
    color: white;
    margin: 15px; 
}

/* ------------------
        Media Quries 
        -----------------------------*/

        /* ------------
            Tablet ------------- */
@media (max-width:950px) {
    nav{
      display: flex;
    }
    .logo{
        margin-left: 20px;
        font-size: 24px;
        font-weight: 700;
        color: #3A3A3A;
    }
    .influencer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }
    .container{
        margin: 30px;
    }
    .banner-left{
        width: 500px;
        height: 400px;
    }
    .banner-right{
        margin-left: 0;
    }
    .logos-box ul{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        list-style: none;
        margin-top: 0;
    }
    .populars{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .collection-design{
        text-align: center;
        margin-left: 200px;
    }
    .test{
        margin-left: -60px;
        margin-bottom: 100px;
        margin-top: 10px;
    }
    .see{
        display: flex;
        justify-content: start;
        text-decoration: none;    
    }
    .products{
        width: 400px;
        margin-left: 30px;
        margin-top: 50px;
    }
    footer{
        height: 20vh;
    }
}
/* ---------------
        Mobile
        -----------------------  */
@media (max-width:576px) {
    nav{
      display: flex;
    }
    .navigation li a{
        margin: 10px;
        padding: 10px;
    }
    .logo{       
        font-size: 24px;
        font-weight: 700;
        color: #3A3A3A;
    }
    .influencer{
        display: grid;
        margin-left: -5px;
        
    }
    .container{
        margin: 30px;
    }
    .banner-left{
        width: 500px;
        height: 400px;
    }
    .banner-right{
        margin-left: 0;
    }
    .logos-box ul{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        list-style: none;
        /* margin-left: -80px; */
        margin: 20px;
    }
    .collection-design{
        text-align: start;
        margin-left: 10px;
    }
    .populars{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-left: 120px;
    }
    
    .test{
        margin-left: -60px;
        margin-bottom: 100px;
        margin-top: 10px;
    }
    .see{
        display: flex;
        justify-content: start;
        text-decoration: none;    
    }
    .featured-product{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-top: 10px;
        margin-left: 120px;
    }
    .products{
        width: 100%;
    }
    footer{
        height: 20vh;
        width: 200%;
        font-size: 10px;
        text-align: center;
    }
}